
@media screen and (min-width: 1281px) {

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: getColor("bg2");
}

.footer_content {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;      
}

.footer_slogan {
    display: flex;
    flex-direction: column;
    padding: 80px 40px;    
}

.footer_homemade {
    height: 34px;
    left: 16px;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFA5BA;
}

.footer_homemade:hover {
    animation-name: cambiarColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cambiarColor {
    0% {
        transform: scale(0.9);
        color: #FFA5BA;
    }

    35% {
        transform: scale(1.0);
        color: getColor("titles");
    }

    100% {
        transform: scale(1.1);
        color: #FFA5BA;
    }
}

.footer_passion {
    height: 66px;
    left: 16px;
    font-size: 55px;
    line-height: 66px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    display: flex;
    gap: 20px;
    color: getColor("titles");
}

.footer_passion:hover {
    animation-name: mover;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mover {
    0% {
        transform: translateY(0);
        color: getColor("titles");
        
    }

    35% {
        transform: translateY(35%);
        color: #FFA5BA;
    }

    100% {
        transform: translateX(100%) translateY(0);
        color: getColor("titles");
    }
}

.footer_social {
    display: flex;
    flex-direction: column;
    padding: 90px 30px;
}

.footer_network {
    justify-content: flex-end;
    display: flex;
    gap: 30px;
}

.footer_logo_redes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: getColor("social");
    border-radius: 25px;
    cursor: pointer;
    width: 34px;    
    height: 34px;
}

.footer_icono{
    fill: getColor("white");
    align-self: center;
}

.footer_logo_redes:hover {
    background-color: getColor("titles");
    transform: scale(1.3)
}

.footer_info {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
    padding-top: 50px;
    
}

.footer_info:hover{
    transform: scale(1.1);    
}

.footer_phone {
    color: getColor("titles");
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;
}

.footer_phone:hover {
    color: getColor("subtitles");
}

.line-grey {
    width: 1349px;
    height: 0px;
    left: 17px;
    top: 4816px;
    border: 1px solid #E1E1E1;
}

.footer_copyright {
    left: 462px;
    top: 4823px;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    color: #907E82;
}

.footer_copyright:hover {
    animation-name: changecolor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes changecolor {
    0% {
        color: getColor("txtgrey");    
    }

    25% {
        color: getColor("black");    
    }

    50% {
            color: getColor("txtgrey");
    }

    75% {
    color: getColor("hover");
    }

    100% {
        color: red;   
    }
}

}

@media screen and (min-width: 320px) and (max-width: 769px) {
    
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: getColor("bg2");
    }

    .footer_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 45px 20px;
    }

    .footer_slogan {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }

    .footer_homemade {
        width: 235px;
        height: 42px;
        left: 22px;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFA5BA;     
    }

    .footer_homemade:hover {
        animation-name: cambiarColor;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes cambiarColor {
        0% {
            transform: scale(0.9);
            color: #FFA5BA;
        }
    
        35% {
            transform: scale(1.0);
            color: getColor("titles");
        }
    
        100% {
            transform: scale(1.1);
            color: #FFA5BA;
        }
    }

    .footer_passion {
        width: 230px;
        height: 76px;
        left: 20px;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        padding: 16px 0px;
        color: getColor("titles");
    }
    
    .footer_passion:hover {
        animation-name: mover;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes mover {
        0% {
            transform: translateY(0);
            color: getColor("titles");
        }
    
        35% {
            transform: translateY(35%);
            color: #FFA5BA;
        }
    
        100% {
            transform: translateX(100%) translateY(0);
            color: getColor("titles");
        }
    }

    .footer_social {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
    }

    .footer_network {
        justify-content: flex-end;
        display: flex;
        gap: 18px;
    }

    .footer_logo_redes {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: getColor("social");
        border-radius: 25px;
        cursor: pointer;
        width: 32px;
        height: 32px;
    }
    
    .footer_icono {
        fill: getColor("white");
        align-self: center;
    }
    
    .footer_logo_redes:hover {
        background-color: getColor("titles");
        transform: scale(1.3)
    }

    .footer_info {
        width: 230px;
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 11px;
        line-height: 176%;
        letter-spacing: 0.02em;
        padding-top: 40px;
        text-align: right;
    }
    
    .footer_info:hover {
        transform: scale(1.1);
    }
    
    .footer_phone {
        color: getColor("titles");
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 11px;
        line-height: 186%;
        letter-spacing: 0.02em;
    }
    
    .footer_phone:hover {
        color: getColor("subtitles");
    }

    .line-grey {
        width: 320px;
        height: 0px;
        left: 17px;
        border: 1px solid #E1E1E1;
    }
    
    .footer_copyright {
        width: 280px;
        left: 20px;
        top: 6666px;
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.15em;
        line-height: 152%;
        text-align: center;
        color: #907E82;
    }
    
    .footer_copyright:hover {
        animation-name: changecolor;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes changecolor {
        0% {
            color: getColor("txtgrey");
        }
    
        25% {
            color: getColor("black");
        }
    
        50% {
            color: getColor("txtgrey");
        }
    
        75% {
            color: getColor("hover");
        }
    
        100% {
            color: red;
        }
    }
}
    
@media screen and (min-width: 769px) and (max-width: 1280px) {
    
}