.footer {
  width: 1280px;
  display: flex;
  flex-direction: column;
  background-color: #FFF5F6;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.footer_slogan {
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
}

.footer_homemade {
  height: 34px;
  left: 16px;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFA5BA;
}

.footer_passion {
  height: 66px;
  left: 16px;
  font-size: 55px;
  line-height: 66px;
  text-transform: uppercase;
  padding: 30px 0px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  color: #D41443;
}

.footer_social {
  display: flex;
  flex-direction: column;
  padding: 90px 30px;
}

.footer_network {
  justify-content: flex-end;
  display: flex;
  gap: 30px;
}

.footer_network_redes {
  display: flex;
  margin-top: 12px;
  margin-left: 83px;
  gap: 12px;
}

.footer_logo_redes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEA5BB;
  border-radius: 25px;
  cursor: pointer;
  width: 34px;
  height: 34px;
}

.footer_icono {
  fill: #FFFFFF;
  align-self: center;
}

.footer_logo_redes:hover {
  background-color: #D41443;
  transform: scale(1.3);
}

.footer_info {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  padding-top: 50px;
}

.footer_phone {
  color: #D41443;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
}

.line-grey {
  width: 1349px;
  height: 0px;
  left: 17px;
  top: 4816px;
  border: 1px solid #E1E1E1;
}

.footer_copyright {
  left: 462px;
  top: 4823px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  color: #907E82;
}

@media only screen and (min-width: 480px) {
  .footer_content {
    width: 480px;
    display: flex;
    flex-direction: column;
  }
}
* {
  font-family: "DM Sans", sans-serif;
  font-family: "Titan One", cursive;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.button, .btn-arrow, .btn-light, .btn-dark {
  display: flex;
  border-radius: 22px;
  font-family: "DM Sans";
  font-style: normal;
  color: #D41443;
  fill: #D41443;
  border: 0;
}
.button:hover, .btn-arrow:hover, .btn-light:hover, .btn-dark:hover {
  background-color: #ECEBEB;
  color: #D41443;
}

.btn-dark {
  background-color: #D41443;
  color: #FFFFFF;
}

.btn-light {
  background-color: #FFFFFF;
}

.btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background-color: #FFFFFF;
}

.icon-Flecha_Roja {
  width: 12px;
  height: 12px;
}

.tittle, .navbar_name, .section-subtitle, .section-tittle {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.section-tittle {
  text-align: center;
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.06em;
  color: #D41443;
}

.section-subtitle {
  text-align: center;
  font-size: 38px;
  line-height: 34px;
  letter-spacing: 0.04em;
  color: #FFA5BA;
}

.navbar_name {
  font-size: 25px;
  color: #D41443;
}

.hidden_tittle {
  visibility: hidden;
}

/*# sourceMappingURL=styles.css.map */
